<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>https://api.glowpeach.icu</string>
	<key>ART_BLOOM_B_SIDE_URL</key>
	<string>https://glowpeach.icu/h5/landing</string>
	<key>AppChannel</key>
	<string>IOS10071</string>
	<key>AppsFlyerAppleAppID</key>
	<string>id6789016347</string>
	<key>AppsFlyerDevKey</key>
	<string></string>
	<key>NSUserTrackingUsageDescription</key>
	<string>ArtBloom uses your device identifier to measure ad performance and improve your experience.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hant</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.glowpeach.mindSpark.recharge</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>images.unsplash.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>ResBaseURL</key>
	<string>https://res.glowpeach.icu</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
